.navbar-brand {
	font-weight: bold;
	font-family: sans-serif;
}

/*font size of rest of sheet*/
.replace {
	font-size: 100px
}
/**************FOOTER*********************/
/*background size*/
#footer {
	background-color: #191d20;
	padding: 4em 0;
	padding-right: 40px;
	padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
}
div.container-fluid {
	background-color: #191d20;
}
/*column sizing*/
/*social media icon panel lining*/
div.panel img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*social media icon positioning*/
#facebook {
	position: relative;
	float: left;
}
#Twitter {
	position: relative;
	float: left;
	bottom: 20px;
}
#instagram {
	position: relative;
	float: left;
	bottom: 44px;
	padding-left: 15px;
}

/*text styling*/
.footerfont {
	font-size: .9em;
	color: #a6a6a6;
	line-height: 1.8;
	font-family: sans-serif;
}
.footerheads {
	color: white;
	font-family: Helvetica Neue;
}
div#tube_map {
	position: relative;
	top: 30px;
}
/*subscribe button style*/
input [type="submit"] {
	outline: none;
	background: none;
}
