.navbar-brand {
	font-weight: bold;
	font-family: sans-serif;
}

/*font size of rest of sheet*/
.replace {
	font-size: 100px
}
.index_title {
color: #9700E8; font-family: "Great Vibes",
cursive;
font-size: 100px;
line-height: 160px;
font-weight: normal;
padding: 200px;
margin-top: 150px;
margin-left: 100px;
position: absolute;
text-align: center;
text-shadow: 0 1px 1px #FFF33E;
}
/**************CAROUSEL*********************/
.carousel {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}
span, span:after {
    font-weight: 900;
    color: #F391E2;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

span {
    font-size: 3.55em;
    z-index: 100;
    text-shadow: .04em .04em 0 #8E2A48;
}

span:after {
    content: attr(data-shadow-text);
    color: #6D115D;
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
    -webkit-mask-image: url(https://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}
/***OUR FAVOURITES***/
#suggestions h2{
	text-align: center;
	color: pink;
	font-family: monospace;
	font-size: 60px;
}
#suggestions {
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right: 80px;
	padding-left: 80px;
	margin: 0 auto;
	background-color: white;
}
#suggestions img{
	border: 2px solid white;
	border-radius: 25px;
	margin: 0;
}
.thumbnail {
	position: relative;
}
.caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}
.caption p {
	font-family: monospace;
	font-size: 40px;
	color: pink;
	text-shadow: 3px 3px 0px #000;
}
/**************DAY PAGE STYLES***************/
.day_header {
	background-image: url("http://www.printawallpaper.com/upload/designs/daytime_london_detail.jpg");
  background-size: cover;
  padding: 130px;
  margin:auto;
	height: 680px;
	text-align: center;
}
.day_header h1 {
	font-size: 70px;
	margin-top: 300px;
	color: #bfbfbf;
}
.day_title {
	font-size: 60px;
	font-family: monospace;
	font-weight: bold;
	margin: 20px 0;
	color: rgba(61, 5, 61, 0.99);
}
#hydepark {
	margin-top: 20px;
	padding-bottom: 25px;
}
.day_ptags {
	font-family: unset;
	width: 744px;
  margin: 20px auto 0 auto;
	font-size: 17px;
	color: rgba(61, 5, 61, 0.99);
}
.main {
	background-color: white;
}
.container {
	margin: auto;
	text-align: center;
}
p {
	margin: 25px 60px 0 60px;
}
.image img{
	border: 2px solid white;
	border-radius: 25px;
	display: inline-block;
}
/*************Evening********************/
.evening_header {
	background-image: url("https://www.hdwallpapers.in/walls/london_at_night-wide.jpg");
  background-size: cover;
  padding: 130px;
  margin:auto;
	height: 680px;
	text-align: center;
}
.evening_header h1 {
	font-size: 70px;
	margin-top: -60px;
	color: #bfbfbf;
}
.evening_title {
	font-size: 60px;
	font-family: monospace;
	font-weight: bold;
	margin: 20px 0;
	color: rgba(61, 5, 61, 0.99);
}
#duckAndWaffle {
	margin-top: 20px;
	padding-bottom: 25px;
}
.evening_ptags {
	font-family: unset;
	width: 744px;
  margin: 20px auto 0 auto;
	font-size: 17px;
	color: rgba(61, 5, 61, 0.99);
}
/**************SPECIAL OCCASIONS********/
.occasions_header {
	background-image: url("http://www.bookatable.co.uk/blog/wp-content/uploads/sites/2/2015/02/London-restaurants.jpg");
  background-size: cover;
  padding: 130px;
  margin:auto;
	height: 680px;
	text-align: center;
}
.occasions_header h1 {
	font-size: 70px;
	margin-top: -100px;
	color: #bfbfbf;
}
#The_Shard {
	margin-top: 20px;
	padding-bottom: 25px;
}
.occasions_title {
	font-size: 60px;
	font-family: monospace;
	font-weight: bold;
	margin: 20px 0;
	color: #050585;
}
.occasions_ptags {
	font-family: unset;
	width: 744px;
  margin: 20px auto 0 auto;
	font-size: 17px;
	color: #050585;
}

/************* CONTACT PAGE**************/
.contact h1 {
	font-size: 60px;
	font-family: monospace;
	font-weight: bold;
	margin: 20px 0;
}
.contact p {
	font-size: 17px;
	font-family: unset;
}
/**************FOOTER*********************/
#footer {
	background-color: #343a40;
	padding: 20px 0;
	margin-top: 40px;
}
div.container-fluid {
	background-color: #343a40;
}
/*column sizing*/
.col-md-3 {
	padding: 15px;
	text-align: center;
}
/*social media icon positioning*/
#facebook {
	display: inline-block;
}
#Twitter {
	display: inline-block;
	bottom: 20px;
}
#instagram {
	display: inline-block;
	bottom: 44px;
	padding-left: 15px;
}

/*text styling*/
.footerfont {
	color: #a6a6a6;
	line-height: 1.8;
	font-family: sans-serif;
}
.footerheads {
	color: white;
	font-family: Helvetica Neue;
}
div#tube_map {
	position: relative;
	top: 30px;
}
/*subscribe button style*/
input {
	border: 1px solid white;
	border-radius: 5px;
	background-color: white;
	margin-top: 10px;
}
/*Media query responsive design*/
@media (max-width: 480px) {
body {
	Width: 100%;
	Margin: auto;
	}
h1 {
	font-size: 25px;
}
h2 {
    font-size: 20px;
}
h3 {
	font-size: 15px;
}
p {
   font-size: 10px;
}
li {
	font-size: 10px;
}
.day_header h1 {
font-size: 20px;
}
.evening_header h1 {
font-size: 20px;
}
.occasions_header h1 {
font-size: 20px;
}
.footerfont {
font-size: 5px;
}
.footerheads {
font-size: 10px;
}
}
